{% extends 'base.html' %}

{% block title %} Добавить Продукт {% endblock %}

{% block content %}
<form style="margin-top: 20px; margin-bottom: 20px; border-radius: 15px;" class="card shadow-sm text-bg-dark"
      method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.image }}
      {{ form.title }}
      {{ form.description }}
      {{ form.price }}
      {{ form.category }}
      <button class="btn btn-outline-light" style="width: 1190px; margin: 20px;" type="submit">Опубликовать</button>
      <a type="button" href="/" class="btn btn-outline-light"
            style="width: 1190px; margin: 20px; margin-top: 0;">Назад</a>
</form>
{% endblock %}
